 <p> Seus produtos <%= current_user.restaurant.nome %>!</p>
       <table>
    <thead>
        <tr>
            <th> Nome </th>
            <th> Valor </th>
        </tr>
    </thead>
    <tbody>
        <% current_user.restaurant.products.each do |product| %>
        <tr>
            <td><%= product.nome %></td>
            <td><%= product.value %></td>
        </tr>
        <% end %>
    </tbody>
</table>